{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

{% endblock %}
{% block title %}Welcometo Hker_Club{% endblock %}
{%block content%}
<div class="page-header container col-lg-3 col-lg-offset-4">
    <h3>Welcome to Hker_Club</h3>
</div>

    </div>
{% endblock %}